.title  {
    font-family: 'Libre Baskerville', serif !important;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    min-height: 92px;
    max-height: 400px;
    height: calc(100% - 560px);

    h1 {
        margin-top: auto;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 62px;
    }
}
