.app-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: #1FC4FA !important;
    min-height: 100vh;
}
.app-layout-content {
    flex: auto;
    min-height: 0;
    background: rgb(99, 216, 255);
}