.search-bar {
    width: auto;
    max-width: 600px;
    background: #fff;
    display: flex;
    border: none;
    box-shadow: none;
    border-radius: 18px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    border-color: rgba(223,225,229,0);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
}

.search-bar-content {
    flex: 1;
    display: flex;
    padding: 0 20px;
    padding-left: 14px;

    .search-bar-search {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        input {
            border-radius: 25px;
            background: white;
            outline: none;
            border: 0;
            width: 100%;
            cursor: text;
        }
    }
    .search-bar-actions {
        display: flex;
        flex: 0 auto;
        padding-top: 3px;
        align-items: center;
        flex-direction: row;

        .search-bar-action-button {
            display: none;
            padding: 4px;
            background: rgba(142, 180, 192, 0.6);
            border-radius: 4px;
            margin: 2px;

            &:hover {
                background: rgba(118, 167, 182, 0.418);
            }

            &.disabled {
                background: rgba(214, 229, 235, 0.753);
                cursor: not-allowed;
                &:hover {
                    background: rgba(214, 229, 235, 0.753);
                }
            }
        }
        
    }
}

::placeholder {
    color: #A7A7A7;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #A7A7A7;
}

::-ms-input-placeholder {
    color: #A7A7A7;
}

.ant-input {
    outline: none !important;
    border: none;
    transition: none;
}

.ant-input:focus, .ant-input-focused {
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    box-shadow: none;
}

.ant-message-notice {
    text-align: right;
}
.ant-message-notice-content {
    border-radius: 20px !important;
}

.success {
    .ant-message-notice-content {
        color: white;
        background: #23D107;
    }
    .ant-message-success .anticon {
        color: white;
    }
}

.warning {
    .ant-message-notice-content {
        color: white;
        background: rgb(236, 146, 0);
    }
    .ant-message-warning .anticon {
        color: white;
    }
}

.error {
    .ant-message-notice-content {
     
    }
}