.search-wrapper {
    /* height: 100%;
    // width: 100%; */
    background: #1FC4FA !important;
    color: white;
    padding: 25px;
    height: 100vh;
    /* min-height: 100vh; */
    /* padding: 20px;
    display: table-cell;
    vertical-align: middle; */
}
